---
layout: default
---

{% assign project = site.data.projects | where: "name", page.name | first %}

<div>
    <h1><strong>{{ project.name }}</strong></h1>
    <h4><em>{{ project.start }} - {{ project.end }}</em></h4>

    {% if project.main-page-video %}
    <video class="project-media" controls>
        <source src="{{ project.main-page-video }}" type="video/mp4">
    </video>
    {% elsif project.main-page-image %}
    <img class="project-media" src="{{ project.main-page-image }}">
    {% elsif project.primary-image %}
    <img class="project-media" src="{{ project.primary-image }}">
    {% elsif project.primary-video %}
    <video class="project-media" controls>
        <source src="{{ project.primary-video }}" type="video/mp4">
    </video>
    {% endif %}
    <div class="project-tags-wrapping">
        {% if project.engine %}
        <div class="tag">🔧 <strong>Engine/Tools:</strong> {{ project.engine }}</div>
        {% endif %}
        {% if project.team_size %}
        <div class="tag">👥 <strong>Team Size:</strong> {{ project.team_size }}</div>
        {% endif %}
        {% if project.platforms %}
        <div class="tag">💻 <strong>Platforms:</strong> {{ project.platforms }}</div>
        {% endif %}
        {% if project.duration %}
        <div class="tag">⏳ <strong>Duration:</strong> {{ project.duration }}</div>
        {% endif %}
        {% if project.code_link %}
        <div class="tag">
            <svg class="github-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
              <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.385.6.112.82-.26.82-.577 0-.285-.01-1.04-.015-2.04-3.338.725-4.043-1.61-4.043-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.09-.745.083-.73.083-.73 1.204.084 1.837 1.236 1.837 1.236 1.07 1.835 2.807 1.305 3.492.998.108-.776.418-1.305.76-1.605-2.665-.303-5.466-1.333-5.466-5.93 0-1.31.47-2.38 1.236-3.22-.124-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.3 1.23a11.49 11.49 0 0 1 3.003-.404c1.02.005 2.047.138 3.003.403 2.29-1.553 3.298-1.23 3.298-1.23.653 1.653.242 2.873.118 3.176.767.84 1.235 1.91 1.235 3.22 0 4.61-2.807 5.624-5.479 5.92.43.37.813 1.1.813 2.22 0 1.605-.015 2.898-.015 3.292 0 .32.217.694.825.576C20.565 21.797 24 17.3 24 12 24 5.37 18.63 0 12 0z"/>
            </svg>
            <a href="{{ project.code_link }}">Github</a>
          </div>
        {% endif %}
    </div>
    

    <div class="project-description">
        {{ content }} <!-- Automatically processes Markdown from .md file -->
    </div>
</div>
